<a href="https://colab.research.google.com/github/pundircoder/Python-CW/blob/main/30_01_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print (R"hi \t (:)")

hi \t (:)

In [ ]:
list = ['a', 'bc' , 78, 1.23]
list 2 =['d', 78]
print(list)
print(list[0] #prints first elements of list
print(list[1:3] #prints elements starting from 1st of list
print(list) #prints first elements of list
print(list) #prints first elements of list

In [5]:
names=["sajid", "nadeem" , "touseef" , "dhahid" , "Ram"]
print(names[0])
print(names[-4])
names[2 ]= "tia"
print(names[0:3])
names .append("Ajay")
print(names)

names.insert(0, "Rama")
print(names)

names.remove("nadeem")
print(names)

print("sajid" in names)

print(len(names))

print(len(names))

names.clear()
print(names)

sajid
nadeem
['sajid', 'nadeem', 'tia']
['sajid', 'nadeem', 'tia', 'dhahid', 'Ram', 'Ajay']
['Rama', 'sajid', 'nadeem', 'tia', 'dhahid', 'Ram', 'Ajay']
['Rama', 'sajid', 'tia', 'dhahid', 'Ram', 'Ajay']
True
6
6
[]

In [12]:
#wap to loop through a list
##wap to iterate thgrough a string and
for i in range (1,11,1):

 print("11 X",i,"=",11*i)

11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110